<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="">
      <div class="row">
        <div class="col-12">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Employee Name" />
        </div>
        <div class="col-12">
          <input
            type="text"
            name="active"
            id="active"
            placeholder="Active / InActive" />
        </div>
        <div class="col-12">
          <button type="submit">Submit</button>
        </div>
      </div>
    </form>
  </body>
</html>
